@model IEnumerable<StudentAppCore.Core.Models.StudentMarkDetails>
@{
    ViewData["Title"] = "ListStudentMarks";
    int i = 1;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<body>
    <div class=" text-right">
        <button type="button" class="btn btn-secondary" onclick="Add();">Add</button>
    </div>
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <th scope="col">Sl .No</th>
                <th scope="col">Student Name </th>
                <th scope="col">Roll No</th>
                <th scope="col">Tamil</th>
                <th scope="col">English </th>
                <th scope="col">Maths </th>
                <th scope="col">Science </th>
                <th scope="col">Social </th>
                <th scope="col">Total </th>
                <th scope="col">Average</th>
            </tr>
        </thead>

        @if (Model != null)
        {
            foreach (var item in Model)
            {


                <tbody>
                    <tr>

                        <td>
                            <span class="text-danger">
                                @i
                            </span>
                        </td>
                        <td>
                            <span class="text-success">
                                @Html.DisplayFor(m => item.StudentName)
                            </span>
                        </td>
                        <td>
                            <span class="text-success">
                                @Html.DisplayFor(m => item.RollNo)
                            </span>
                        </td>
                        <td>
                            @if (item.Tamil > 35)
                            {
                                <span class="text-success">
                                    @Html.DisplayFor(m => item.Tamil)
                                </span>
                            }
                            else
                            {
                                <span class="text-danger">
                                    @Html.DisplayFor(m => item.Tamil)
                                </span>
                            }
                        </td>
                        <td>
                            @if (item.English > 35)
                            {
                                <span class="text-success">
                                    @Html.DisplayFor(m => item.English)
                                </span>
                            }
                            else
                            {
                                <span class="text-danger">
                                    @Html.DisplayFor(m => item.English)
                                </span>
                            }
                        </td>
                        <td>
                            @if (item.Maths > 35)
                            {
                                <span class="text-success">
                                    @Html.DisplayFor(m => item.Maths)
                                </span>
                            }
                            else
                            {
                                <span class="text-danger">
                                    @Html.DisplayFor(m => item.Maths)
                                </span>
                            }

                        </td>
                        <td>
                            @if (item.Science > 35)
                            {
                                <span class="text-success">
                                    @Html.DisplayFor(m => item.Science)
                                </span>
                            }
                            else
                            {
                                <span class="text-danger">
                                    @Html.DisplayFor(m => item.Science)
                                </span>
                            }

                        </td>
                        <td>
                            @if (item.Social > 35)
                            {
                                <span class="text-success">
                                    @Html.DisplayFor(m => item.Social)
                                </span>
                            }
                            else
                            {
                                <span class="text-danger">
                                    @Html.DisplayFor(m => item.Social)
                                </span>
                            }
                        </td>
                        <td>
                            <span class="text-success">
                                @Html.DisplayFor(m => item.Total)
                            </span>

                        </td>
                        <td>
                            <span class="text-success">
                                @Html.DisplayFor(m => item.Average)
                            </span>
                        </td>
                        <td>
                            <span class="text-danger">
                                <button type="button" class="btn btn-success" onclick="edit(@item.StudentId)"></button>
                                <button type="button" class="btn btn-warning" onclick="Delete(@item.StudentId)"></button>

                            </span>
                        </td>
                    </tr>
                </tbody>

                i++;
            }
        }
    </table>
</body>
<script>
    function Add() {
        window.location.href = "/Student/ExcelUpload";
    }


    function edit(StdId) {
        window.location.href = "/Student/GetStudentMark?StdId=" + StdId;
    }


    function Delete(StdId) {
        if (confirm("Are sure you want dlt this item")) {
            window.location.href = "/Student/DeleteMarks?StdId=" + StdId;
        }
    }

</script>